---
---

@import "{{ site.theme }}";

#title {
  color:black;
  font-size:130%;
}

#logo {
  border-radius: 50%;
}

.label {
  color:grey;
}

#main-content {
  color:black;
  font-family:"Roboto","Helvetica Neue",Arial,sans-serif;
}
